.Header{
border-bottom: 1px solid #ddd;

    .container{
        display:flex;
        align-items: center;//tüm elemanları ortalar
        padding-top: 20px;
        padding-bottom: 20px;

    }

    &-menu{
        margin-left: auto;
        display: flex;// içindekileri yan yana getirir

        &-user{
            display: flex;
            a{
                display:inline-flex;
                align-items: center;
                padding-left: 20px;
                padding-right: 20px;
                height: $finger-size;
                
                &:hover{
                    background-color: #eee;
                }

            }
        }
    }
    &-logo{
       img{
        width: 144px;

       }

    }

}