section.Highlight
    .container
        .Highlight-slider
            .Highlight-item 1
            .Highlight-item 2
            .Highlight-item 3
            .Highlight-item 4
            .Highlight-item 5
            .Highlight-item 6
