//size
$max-width:1140px;
$gutter:20px;
$finger-size: 40px;
$border-radius: 3px;
$font-size:16px;
$font-size-small:.86em;
//color
$color-navy: #083B87;
$color-blue: #01ACEE;
$color-soft-blue:#ADD8E6;
$color-yellow: #FBBE00;
//

$font-family:'Open Sans','Arial' ,sans-serif;


